@font-face {
  font-family: "Sora";
  src: url(../assets/fonts/Sora/Sora-VariableFont_wght.ttf);
}

/* Declaring all the variables neccessaty for this project */
:root {
  /* Natural Variant */
  --Neutral-0: hsl(0 0 100);
  --Neutral-400: hsl(240 1 59);
  --Neutral-500: hsl(240 3% 46%);
  --Neutral-800: hsl(0 0 15%);
  --Neutral-900: hsl(0 0 7%);
  /* Blue Variant */
  --Blue-400: hsl(210 100% 65%);
  --Blue-600: hsl(210 100% 55%);
  /* Red */
  --Red-500: hsl(354 63% 57%);
  /* Green */
  --Green-500: hsl(140 63% 57%);
  /* Yellow */
  --Yellow-400: hsl(49 85% 70%);

  /* Font size */
  --fs-12: 0.25rem;
  --fs-18: 1.125rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-48: 3rem;

  /* Spacing Variant */
  --spacing-0: 0;
  --spacing-25: 0.125em;
  --spacing-50: 0.25em;
  --spacing-75: 0.375em;
  --spacing-100: 0.5em;
  --spacing-125: 0.625em;
  --spacing-150: 0.75em;
  --spacing-200: 1em;
  --spacing-250: 1.25em;
  --spacing-300: 1.5em;
  --spacing-400: 2em;
  --spacing-500: 2.5em;
  --spacing-600: 3em;
  --spacing-800: 4em;
  --spacing-1000: 5em;
  --spacing-1200: 6em;
  --spacing-1400: 7em;
  --spacing-1600: 8em;
  --spacing-1800: 8.75em;

  /* Radius Variant */
  --radius-0: 0;
  --radius-4: 0.25em;
  --radius-4: 0.25em;
  --radius-6: 0.375em;
  --radius-8: 0.5em;
  --radius-10: 0.625em;
  --radius-12: 0.75em;
  --radius-16: 1em;
  --radius-20: 1.25em;
  --radius-24: 1.5em;
  --radius-full: 50%;

  /* Gap Variables */
  --gap-32: 2em;
  --gap-40: 2.5em;
  --gap-64: 4em;

  /* font-size: calc(0.5vw + 0.1em); */
}

html {
  font-size: 16px;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Sora";
  background-color: var(--Neutral-900);
  color: var(--Neutral-400);
  /* font-size: var(--spacing-25); */
  padding: 0 2em;
}

/* Lobotomized owl Concept */
body * + * {
  margin-top: 0.4em;
}

.hide-in-mobile {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.container {
  max-width: 76em;
  margin: 0 auto;
  display: grid;
  row-gap: var(--gap-32);
  padding: 1em;
  /* text-align: center; */
  border: 1px solid white;
}

header {
  display: flex;
  align-items: center;
}

header > .best-wpm-score-wrapper {
  margin-left: auto;
}
header > .best-wpm-score-wrapper > img {
  display: inline-block;
  width: 1.05em;
  margin-right: 0.3em;
}

/* Class used to capitalize text */
.text-transform {
  text-transform: capitalize;
}

.result {
  color: var(--Neutral-0);
  font-size: var(--fs-24);
  font-weight: bold;
}

.wpm-score {
  font-size: 1rem;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-32);
  margin-top: 0;
}

main > .typing-test-panel {
  border-bottom: 1px solid var(--Neutral-800);
  padding-bottom: 0.8em;
}

main > .typing-test-panel > .typing-test-panel__status {
  display: flex;
  text-align: center;
}

.typing-test-panel__status > * {
  flex: 1;
}

.typing-test-panel__status > * + * {
  border-left: 1px solid var(--Neutral-800);
  margin-left: 1em;
  padding-left: 1em;
}

.typing-test-panel__status * + * {
  margin-top: 0;
}

/* ghvdhvhjd */
main > .typing-test-panel > .typing-test-panel__mode {
  display: flex;
  gap: 0.625em;
  position: relative;
}

main > .typing-test-panel > .typing-test-panel__mode:hover .drop-down {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

main > .typing-test-panel > .typing-test-panel__mode > * {
  flex: 1;
}

main > .typing-test-panel > .typing-test-panel__mode .mobile-btn {
  width: 100%;
  padding: 6px;
  border: 1px solid var(--Neutral-400);
  border-radius: var(--radius-6);
  background-color: transparent;
  color: var(--Neutral-0);
  cursor: pointer;
}

/* main > .typing-test-panel > .typing-test-panel__mode button:hover {
  display: block;
} */
.mobile-btn > * {
  display: inline-block;
  margin-left: 0.8em;
}

main > .typing-test-panel > .typing-test-panel__mode > * + * {
  margin-top: 0;
}

.drop-down {
  display: none;
  background-color: var(--Neutral-800);
  padding-block: 10px;
  border-radius: var(--radius-8);
  color: var(--Neutral-0);
  position: absolute;
  width: 50%;
  z-index: 2;
}

.drop-down li {
  padding-inline: 20px;
}

.drop-down li + li {
  border-top: 1px solid var(--Neutral-400);
}

/* Tablet screen Layout */

@media (min-width: 48.625em) {
  .hide-in-mobile {
    display: inline;
  }

  .no-wrap {
    text-wrap: nowrap;
  }

  .sr-only-desktop-visible {
    position: static;
    width: auto;
    height: auto;
    clip: auto;
    overflow: visible;
    white-space: normal;
  }

  .container {
    row-gap: 40px;
  }

  .text-transform {
    text-transform: lowercase;
  }

  header {
    align-items: end;
  }
  main > .typing-test-panel > .typing-test-panel__mode {
    gap: 0;
  }
  main > .typing-test-panel > .typing-test-panel__mode > * {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.8em;
    /* padding-block: 0; */
  }
  main > .typing-test-panel > .typing-test-panel__mode > *:first-child {
    border-right: 1px solid var(--Neutral-800);
    padding-right: 0.9em;
    margin-right: 0.8em;
  }

  .mobile-btn {
    display: none;
  }

  .drop-down {
    background-color: transparent;
    display: flex;
    gap: 0.7em;
    position: static;
    width: 100%;
    z-index: 0;
    margin-top: 0;
  }
  .drop-down li {
    text-align: center;
    border: 1px solid var(--Neutral-400);
    border-radius: var(--radius-8);
    margin-top: 0;
  }
  .drop-down li a {
    display: block;
    padding: 0.2em 0em;
  }
  .drop-down .selected-option {
    color: var(--Blue-400);
    border-color: var(--Blue-400);
  }

  .typing-test-panel__status > * {
    display: flex;
    align-items: center;
    flex: 0; /* Restting */
    gap: 1.2em;
  }
}

@media (min-width: 62.6em) {
  main > .typing-test-panel {
    display: flex;
  }
  main > .typing-test-panel > * {
    flex: 1;
  }
  main > .typing-test-panel * {
    margin-top: 0;
  }
  main > .typing-test-panel > .typing-test-panel__status {
    margin-right: 0.7em;
  }
}
